fastapi
uvicorn[standard]
pydantic
python-multipart
python-dotenv

pytesseract
Pillow
opencv-python
# paddlepaddle
# paddleocr
PyPDF2

transformers
torch
sentencepiece

pandas
prophet

qdrant-client
numpy
scikit-learn
