fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-dotenv
requests

pytesseract
Pillow
opencv-python
# paddlepaddle
# paddleocr
PyPDF2

transformers
torch
sentencepiece

pandas
prophet
joblib
email-validator

qdrant-client
numpy
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
neo4j
psycopg2-binary
sqlalchemy
alembic
fpdf2
